{% extends "layout.html" %}

{% block title %}
    buy
{% endblock %}

{% block main %}

<!-- Require that a user input a number of shares, implemented as a field whose name is shares. -->
<!-- Require that a user input a stock’s symbol, implemented as a text field whose name is symbol. -->
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="symbol" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
